<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zelut.LandingPage</title>
    <script src="~/js/tailwind.js"></script>
    <script src="~/js/main.js" defer></script>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/swiper.css">
    <script src="~/js/swiper.js"></script>
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css">
    <script src="~/lib/leaflet/leaflet.js"></script>
    </style>
</head>

<body>
    <header
        class="sticky shadow-xs top-0 z-20 w-full bg-white flex items-center justify-between py-4 md:py-6 px-5 md:px-10 lg:px-20">
        <div class="flex-1 lg:hidden" onclick="openMenu()">
            <img src="~/images/icons/menu.svg" alt="menu" class="pointer-events-none" />
        </div>
        <div class="flex-1 flex items-center justify-center lg:justify-start">
            <a href="/">
                <img src="~/images/logo.png" alt="logo" class="max-w-22 lg:max-w-full" />
            </a>
        </div>
        <nav class="hidden lg:flex items-center justify-center gap-10 flex-2 header-navbar text-nowrap">
            <a asp-controller="Home" asp-action="Index" class="currentPageNav">خانه</a>
            <a asp-controller="Home" asp-action="Products">محصولات</a>
            <a asp-controller="Home" asp-action="AboutUs">درباره ما</a>
            <a asp-controller="Home" asp-action="ContactUs">ارتباط با ما</a>
            <a asp-controller="Home" asp-action="Weblog">مجله زیلوت</a>
        </nav>
        <div class="flex flex-1 items-center justify-end gap-2">
            <img src="~/images/search.svg" alt="search" />
            <div class="items-center hidden gap-2 md:flex">
                <p>Fa</p>
                <p>|</p>
                <p>En</p>
            </div>
        </div>
    </header>
    <section class="sidebarMenu-container menuClosed z-30">
    <aside class="sidebarMenu">
        <div class="sidebarMenu-top">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" onclick="closeMenu()">
                <rect width="256" height="256" fill="none" />
                <line x1="200" y1="56" x2="56" y2="200" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16" />
                <line x1="200" y1="200" x2="56" y2="56" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16" />
            </svg>
            <img src="~/images/logo.png" alt="logo" />
        </div>
        <div class="sidebarMenu-links">
            <div class="sidebar-collection-submenu-links">
                <a asp-controller="Home" asp-action="Index" class="currentPageNav">خانه</a>
                <a asp-controller="Home" asp-action="Products">محصولات</a>
                <a asp-controller="Home" asp-action="AboutUs">درباره ما</a>
                <a asp-controller="Home" asp-action="ContactUs">ارتباط با ما</a>
                <a asp-controller="Home" asp-action="Weblog">مجله زیلوت</a>
            </div>
        </div>

        <div class="sidebarMenu-bottom">
            <div class="sidebarMenu-bottom-media">
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none" />
                        <circle cx="128" cy="128" r="40" fill="none" stroke="currentColor" stroke-miterlimit="10"
                            stroke-width="16" />
                        <rect x="32" y="32" width="192" height="192" rx="48" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                        <circle cx="180" cy="76" r="12" />
                    </svg>
                </a>
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none" />
                        <rect x="32" y="32" width="192" height="192" rx="8" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                        <line x1="120" y1="112" x2="120" y2="176" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                        <line x1="88" y1="112" x2="88" y2="176" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="16" />
                        <path d="M120,140a28,28,0,0,1,56,0v36" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="16" />
                        <circle cx="88" cy="84" r="12" />
                    </svg>
                </a>
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="23" height="23">
                        <path
                            d="M12.001 1.594c-9.27-.003-13.913 11.203-7.36 17.758a10.403 10.403 0 0 0 17.76-7.355c0-5.744-4.655-10.401-10.4-10.403zM6.11 6.783c.501-2.598 3.893-3.294 5.376-1.103 1.483 2.19-.422 5.082-3.02 4.582A2.97 2.97 0 0 1 6.11 6.783zm4.322 8.988c-.504 2.597-3.897 3.288-5.377 1.096-1.48-2.192.427-5.08 3.025-4.579a2.97 2.97 0 0 1 2.352 3.483zm1.26-2.405c-1.152-.223-1.462-1.727-.491-2.387.97-.66 2.256.18 2.04 1.334a1.32 1.32 0 0 1-1.548 1.053zm6.198 3.838c-.501 2.598-3.893 3.293-5.376 1.103-1.484-2.191.421-5.082 3.02-4.583a2.97 2.97 0 0 1 2.356 3.48zm-1.967-5.502c-2.598-.501-3.293-3.896-1.102-5.38 2.19-1.483 5.081.422 4.582 3.02a2.97 2.97 0 0 1-3.48 2.36zM13.59 23.264l2.264.61a3.715 3.715 0 0 0 4.543-2.636l.64-2.402a11.383 11.383 0 0 1-7.448 4.428zm7.643-19.665L18.87 2.97a11.376 11.376 0 0 1 4.354 7.62l.65-2.459A3.715 3.715 0 0 0 21.231 3.6zM.672 13.809l-.541 2.04a3.715 3.715 0 0 0 2.636 4.543l2.107.562a11.38 11.38 0 0 1-4.203-7.145zM10.357.702 8.15.126a3.715 3.715 0 0 0-4.547 2.637l-.551 2.082A11.376 11.376 0 0 1 10.358.702z">
                        </path>
                    </svg>
                </a>
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none" />
                        <path
                            d="M80,134.87,170.26,214a8,8,0,0,0,13.09-4.21L224,33.22a1,1,0,0,0-1.34-1.15L20,111.38A6.23,6.23,0,0,0,21,123.3Z"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="16" />
                        <line x1="80" y1="134.87" x2="223.41" y2="32.09" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                        <path d="M124.37,173.78,93.76,205.54A8,8,0,0,1,80,200V134.87" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                    </svg>
                </a>
            </div>
        </div>
    </aside>
    </section>


    @RenderBody()

    <footer class="bg-lightGreen px-5 md:px-10 lg:px-20 pb-10 text-white relative">
        <div class="absolute bg-glassyWhite p-6 flex items-center justify-center z-10 left-5 md:left-10 lg:left-20 -translate-y-1/3 scrollBtn cursor-pointer"
            onclick="scrollToTop()">
            <img src="~/images/icons/arrow.svg" alt="arrow" />
        </div>
        <div class="flex flex-col lg:flex-row lg:items-end justify-between">
            <div>
                <div class="py-10 pb-2 w-fit patternContainer">
                    <p class="text-2xl md:text-3xl lg:text-4xl p-5">
                        زمیــن بـــرای زنــدگی
                    </p>
                </div>
                <div class="flex flex-col text-sm gap-3 p-5">
                    <a href="#">فرصت‌های شغلی</a>
                    <a href="#">پاسخ به پرسش‌های متداول</a>
                    <a href="#">رضایت مشتری و پیشنهادات</a>
                    <div class="text-base flex gap-5">
                        <span>تلفـن پشـتیـبانی</span>
                        <a href="#">۰۲۱۱۲۳۴۵۷۶</a>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-5 p-5">
                <p class="text-sm">عضو باشگاه خبری زیلوت شوید</p>
                <div class="bg-white rounded-lg text-black flex items-stretch gap-1 h-10 shadow-3xl">
                    <div class="bg-gray-300 rounded-lg h-full w-12 shadow-md flex items-center justify-center">
                        <img src="~/images/sendArrow.png" alt="" />
                    </div>
                    <input type="text" name="phone" id="phone"
                        class="bg-none focus-visible:outline-0 placeholder:text-xs placeholder:opacity-50 w-full h-full p-2 text-center"
                        placeholder="از جدیدترین اخبار ما مطلع شوید" />
                </div>
                <div class="flex items-center justify-between gap-8">
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <img src="~/images/media/aparat.png" alt="aparat" />
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <img src="~/images/media/whatsapp.png" alt="whatsapp" />
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <img src="~/images/media/youtube.png" alt="youtube" />
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <img src="~/images/media/instagram.png" alt="instagram" />
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <img src="~/images/media/telegram.png" alt="telegram" />
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t-2 p-5" style="border-color: #5daeba">
            <p class="text-sm">تمامی حقوق متعلق به زیلوت می باشد.</p>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>