<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zelut.LandingPage</title>
    <script src="~/js/tailwind.js"></script>
    <script src="~/js/main.js" defer></script>
    <script src="~/js/search.js" defer></script>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/swiper.css">
    <script src="~/js/swiper.js"></script>
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css">
    <script src="~/lib/leaflet/leaflet.js"></script>

</head>

<body>
    <header
        class="sticky shadow-xs top-0 z-50 w-full bg-white flex items-center justify-between py-4 px-5 md:px-10 lg:px-20">
        <div class="flex-1 lg:hidden" onclick="openMenu()">
            <img src="~/images/icons/menu.svg" alt="menu" class="pointer-events-none" />
        </div>
        <div class="flex-1 flex items-center justify-center lg:justify-start">
            <a href="/">
                <img src="~/images/logo.png" alt="logo" class="max-w-22 lg:max-w-full" />
            </a>
        </div>
        <nav class="hidden lg:flex items-center justify-center gap-6 flex-3 lg:gap-4 header-navbar text-nowrap">
            <a asp-controller="Home" asp-action="Index" class="currentPageNav py-2 px-4">خانه</a>
            <div class="flex flex-col items-center relative hasSubMenu">
                <a asp-controller="Home" asp-action="Products" class="currentPageNav py-2 px-4 mainLink">محصولات</a>

                <div
                    class="flex flex-col items-center bg-white absolute top-full px-2 shadow-md hidden submenu border-t-1 border-black">
                    <a asp-controller="Home" asp-action="Products"
                        class="currentPageNav py-3 px-5 border-b-1 border-gray-300 w-full text-center">موکت</a>
                    <a asp-controller="Home" asp-action="Products"
                        class="currentPageNav py-3 px-5 w-full text-center">پادری</a>
                </div>
            </div>
            <a asp-controller="Home" asp-action="AboutUs" class="currentPageNav py-2 px-4 ">درباره ما</a>
            <a asp-controller="Home" asp-action="ContactUs" class="currentPageNav py-2 px-4 ">ارتباط با ما</a>

            <div class="flex flex-col items-center relative hasSubMenu">
                <p class="currentPageNav py-2 px-4 mainLink">مجله زیلوت</p>

                <div
                    class="flex flex-col items-center bg-white absolute top-full px-2 shadow-md hidden submenu border-t-1 border-black">
                    <a asp-controller="Home" asp-action="Weblog"
                        class="currentPageNav py-3 px-5 border-b-1 border-gray-300 w-full text-center">اخبار</a>
                    <a asp-controller="Home" asp-action="Articles"
                        class="currentPageNav py-3 px-5 w-full text-center">مقالات</a>
                </div>
            </div>

            <div class="flex flex-col items-center relative hasSubMenu">
                <a asp-controller="Home" asp-action="Weblog" class="currentPageNav py-2 px-4 mainLink">خدمات</a>

                <div
                    class="flex flex-col items-center bg-white absolute top-full px-2 shadow-md hidden submenu border-t-1 border-black">
                    <a asp-controller="Home" asp-action="DesignConsulting"
                        class="currentPageNav p-3 border-b-1 border-gray-300 w-full text-center">مشاوره طراحی</a>
                    <a asp-controller="Home" asp-action="InstallServices"
                        class="currentPageNav p-3 border-b-1 border-gray-300 w-full text-center">خدمات حمل و
                        نصب</a>
                    <a asp-controller="Home" asp-action="SalesInfo" class="currentPageNav p-3 border-b-1 border-gray-300 w-full text-center">کمک
                        هزینه نصب</a>

                    <a asp-controller="Home" asp-action="PriceList" class="currentPageNav p-3 w-full text-center">تعرفه
                        خدمات نصب</a>

                </div>
            </div>
        </nav>
        <div class="w-max items-center justify-end hidden xl:flex">
            <a asp-controller="Home" asp-action="SalesInfo"
                class="currentPageNav py-1.5 text-lg shadow-sm px-10 bg-lightGreen text-white rounded-xl">ثبـت اطـلاعات
                خـرید</a>
        </div>


        <div class="flex flex-1 items-center justify-end gap-2 langPicker">
        <div class="searchBtn p-2">
             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M9.10855 18.2134C11.3088 18.2134 13.3297 17.4263 14.9076 16.123L18.5685 19.784C18.7113 19.9268 18.898 20 19.0847 20C19.2715 20 19.4582 19.9268 19.601 19.784C19.8865 19.4984 19.8865 19.0335 19.601 18.7479L15.9546 15.1016C17.3604 13.4981 18.2134 11.4003 18.2134 9.10855C18.2134 4.08567 14.1278 0 9.10489 0C4.08201 0 0 4.08201 0 9.10489C0 14.1278 4.08567 18.2134 9.10855 18.2134ZM9.10855 1.46074C13.3223 1.46074 16.7527 4.88742 16.7527 9.10489C16.7527 13.3223 13.3223 16.749 9.10855 16.749C4.89475 16.749 1.4644 13.3187 1.4644 9.10489C1.4644 4.89109 4.89475 1.46074 9.10855 1.46074Z" fill="#242424"/>
            </svg>
        </div>
            
            <div class="items-center hidden gap-2 md:flex" id="langPicker_id">
                <p>Fa</p>
                <p>|</p>
                <p>En</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path
                    d="M3.75 15C3.75 8.7868 8.7868 3.75 15 3.75C21.2132 3.75 26.25 8.7868 26.25 15C26.25 21.2132 21.2132 26.25 15 26.25C8.7868 26.25 3.75 21.2132 3.75 15Z"
                    fill="#7E869E" fill-opacity="0.25" />
                <circle opacity="0.54" cx="15" cy="12.5" r="5" fill="#222222" />
                <path opacity="0.54"
                    d="M15.0001 18.75C18.4032 18.75 21.3514 20.4159 22.7984 22.8477C22.856 22.9444 22.8382 23.0677 22.7567 23.1453C20.7384 25.0681 18.0078 26.25 15.0001 26.25C11.9923 26.25 9.26178 25.0681 7.24341 23.1453C7.1619 23.0677 7.14418 22.9444 7.20174 22.8477C8.64868 20.4159 11.5969 18.75 15.0001 18.75Z"
                    fill="#222222" />
            </svg>
        </div>
    </header>

    
            <div class="fixed w-1/2 max-w-96 backdrop-blur-xl lg:top-18 z-20 p-3 lg:pt-5 left-5 md:left-10 lg:left-20 rounded-b-lg hidden searchBox">
             <input type="search" class="bg-white outline-0 border-0 py-3 px-5 w-full rounded-lg" name="search" id="search" placeholder="جستجو محصول...">

             <div class="bg-white p-2 pt-0 w-full rounded-lg mt-1 max-h-50 overflow-y-auto shadow-lg" id="searchResult">
              <p class="p-3 bg-gray-50 hover:bg-pastelGreen rounded-md mt-2 cursor-pointer">مینیمال-سکوت</p>
              <p class="p-3 bg-gray-50 hover:bg-pastelGreen rounded-md mt-2 cursor-pointer">مینیمال-آرام</p>
             </div>
            </div>


    <section class="sidebarMenu-container menuClosed z-30">
        <aside class="sidebarMenu">
            <div class="sidebarMenu-top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" onclick="closeMenu()">
                    <rect width="256" height="256" fill="none" />
                    <line x1="200" y1="56" x2="56" y2="200" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                    <line x1="200" y1="200" x2="56" y2="56" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                </svg>
                <img src="~/images/logo.png" alt="logo" />
            </div>
            <div class="sidebarMenu-links">
                <div class="sidebar-collection-submenu-links">
                    <a asp-controller="Home" asp-action="Index" class="currentPageNav">خانه</a>
                    <a asp-controller="Home" asp-action="Products">محصولات</a>
                    <a asp-controller="Home" asp-action="AboutUs">درباره ما</a>
                    <a asp-controller="Home" asp-action="ContactUs">ارتباط با ما</a>
                    <a asp-controller="Home" asp-action="Weblog">مجله زیلوت</a>
                </div>
            </div>

            <div class="sidebarMenu-bottom">
                <div class="sidebarMenu-bottom-media">
                    <a href="#" class="menu-media-link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none" />
                            <circle cx="128" cy="128" r="40" fill="none" stroke="currentColor" stroke-miterlimit="10"
                                stroke-width="16" />
                            <rect x="32" y="32" width="192" height="192" rx="48" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                            <circle cx="180" cy="76" r="12" />
                        </svg>
                    </a>
                    <a href="#" class="menu-media-link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none" />
                            <rect x="32" y="32" width="192" height="192" rx="8" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                            <line x1="120" y1="112" x2="120" y2="176" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                            <line x1="88" y1="112" x2="88" y2="176" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                            <path d="M120,140a28,28,0,0,1,56,0v36" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                            <circle cx="88" cy="84" r="12" />
                        </svg>
                    </a>
                    <a href="#" class="menu-media-link">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="23" height="23">
                            <path
                                d="M12.001 1.594c-9.27-.003-13.913 11.203-7.36 17.758a10.403 10.403 0 0 0 17.76-7.355c0-5.744-4.655-10.401-10.4-10.403zM6.11 6.783c.501-2.598 3.893-3.294 5.376-1.103 1.483 2.19-.422 5.082-3.02 4.582A2.97 2.97 0 0 1 6.11 6.783zm4.322 8.988c-.504 2.597-3.897 3.288-5.377 1.096-1.48-2.192.427-5.08 3.025-4.579a2.97 2.97 0 0 1 2.352 3.483zm1.26-2.405c-1.152-.223-1.462-1.727-.491-2.387.97-.66 2.256.18 2.04 1.334a1.32 1.32 0 0 1-1.548 1.053zm6.198 3.838c-.501 2.598-3.893 3.293-5.376 1.103-1.484-2.191.421-5.082 3.02-4.583a2.97 2.97 0 0 1 2.356 3.48zm-1.967-5.502c-2.598-.501-3.293-3.896-1.102-5.38 2.19-1.483 5.081.422 4.582 3.02a2.97 2.97 0 0 1-3.48 2.36zM13.59 23.264l2.264.61a3.715 3.715 0 0 0 4.543-2.636l.64-2.402a11.383 11.383 0 0 1-7.448 4.428zm7.643-19.665L18.87 2.97a11.376 11.376 0 0 1 4.354 7.62l.65-2.459A3.715 3.715 0 0 0 21.231 3.6zM.672 13.809l-.541 2.04a3.715 3.715 0 0 0 2.636 4.543l2.107.562a11.38 11.38 0 0 1-4.203-7.145zM10.357.702 8.15.126a3.715 3.715 0 0 0-4.547 2.637l-.551 2.082A11.376 11.376 0 0 1 10.358.702z">
                            </path>
                        </svg>
                    </a>
                    <a href="#" class="menu-media-link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none" />
                            <path
                                d="M80,134.87,170.26,214a8,8,0,0,0,13.09-4.21L224,33.22a1,1,0,0,0-1.34-1.15L20,111.38A6.23,6.23,0,0,0,21,123.3Z"
                                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="16" />
                            <line x1="80" y1="134.87" x2="223.41" y2="32.09" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                            <path d="M124.37,173.78,93.76,205.54A8,8,0,0,1,80,200V134.87" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="16" />
                        </svg>
                    </a>
                </div>
            </div>
        </aside>
    </section>


    @RenderBody()

    <footer class="bg-lightGreen px-5 md:px-10 lg:px-20 pb-10 text-white relative">
        <div class="absolute bg-glassyWhite p-6 flex items-center justify-center z-10 left-5 md:left-10 lg:left-20 -translate-y-1/3 scrollBtn cursor-pointer"
            onclick="scrollToTop()">
            <img src="~/images/icons/arrow.svg" alt="arrow" />
        </div>
        <div class="flex flex-col lg:flex-row lg:items-end justify-between">
            <div>
                <div class="py-10 pb-2 w-fit patternContainer">
                    <p class="text-2xl md:text-3xl lg:text-4xl p-5">
                        زمیــن بـــرای زنــدگی
                    </p>
                </div>
                <div class="flex flex-col text-sm gap-3 p-5">
                    <a href="#">فرصت‌های شغلی</a>
                    <a href="#">پاسخ به پرسش‌های متداول</a>
                    <a href="#">رضایت مشتری و پیشنهادات</a>
                    <div class="text-base flex gap-5">
                        <span>تلفـن پشـتیـبانی</span>
                        <a href="tel:0211234567">021-1234567</a>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-5 p-5">
                <p class="text-sm">عضو باشگاه خبری زیلوت شوید</p>
                <div class="bg-white rounded-lg text-black flex items-stretch gap-1 h-10 shadow-3xl">
                    <div class="bg-gray-300 rounded-lg h-full w-12 shadow-md flex items-center justify-center">
                        <img src="~/images/sendArrow.png" alt="" />
                    </div>
                    <input type="text" name="phone" id="phone"
                        class="bg-none focus-visible:outline-0 placeholder:text-xs placeholder:opacity-50 w-full h-full p-2 text-center"
                        placeholder="از جدیدترین اخبار ما مطلع شوید" />
                </div>
                <div class="flex items-center justify-between gap-8">
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                         <path d="M5.15039 1.23549C5.79952 0.812417 6.58274 0.596756 7.3568 0.630968C7.72764 0.647158 8.09023 0.731773 8.44672 0.830746C9.08423 0.99631 9.72022 1.16859 10.358 1.33294C9.6747 1.4316 8.999 1.58495 8.34224 1.79878C6.50729 2.3978 4.82873 3.47122 3.52041 4.89074C3.35637 5.06119 3.20669 5.24448 3.05273 5.42379C3.16393 4.96405 3.29772 4.51013 3.41716 4.05223C3.51705 3.7043 3.58792 3.34751 3.71683 3.00844C3.98961 2.28448 4.50035 1.6546 5.15039 1.23549Z" fill="#046D7C"/>
                         <path d="M18.8809 3.57715C19.5165 3.73783 20.1476 3.915 20.783 4.07568C21.1181 4.16609 21.4593 4.24093 21.7773 4.38389C22.8208 4.82621 23.6272 5.7805 23.8927 6.88233C24.0445 7.48044 24.0329 8.11734 23.871 8.71209C23.6532 9.51089 23.4504 10.3143 23.2213 11.1097C23.0606 9.83897 22.6797 8.59632 22.1002 7.45417C21.543 6.35875 20.8071 5.35345 19.9277 4.49478C19.6012 4.16426 19.2395 3.87162 18.8809 3.57715Z" fill="#046D7C"/>
                         <path d="M0.134686 16.2931C0.314913 15.633 0.484143 14.9701 0.669563 14.3115C1.05568 16.751 2.29191 19.0402 4.1009 20.7191C4.34833 20.9595 4.61837 21.1745 4.88351 21.3944C4.18674 21.2023 3.48599 21.0251 2.78738 20.8394C2.27694 20.7071 1.79277 20.4701 1.38131 20.1396C0.531796 19.4645 0.00425022 18.3987 0.000584582 17.3118C-0.00613575 16.9679 0.0454886 16.6248 0.134686 16.2931Z" fill="#046D7C"/>
                         <path d="M20.5094 19.9243C20.6936 19.7227 20.8558 19.5028 21.032 19.2944C20.8252 20.0832 20.6093 20.8694 20.4006 21.6575C20.1984 22.4145 19.7503 23.1046 19.1332 23.589C18.372 24.1948 17.3673 24.4902 16.3999 24.3774C16.0391 24.3411 15.6927 24.2302 15.3424 24.1435C14.8985 24.0271 14.4553 23.9076 14.0111 23.7922C13.8819 23.757 13.749 23.7323 13.625 23.6813C14.0081 23.6055 14.3951 23.5432 14.773 23.4406C16.9812 22.8816 19.0086 21.6374 20.5094 19.9243Z" fill="#046D7C"/>
                         <path d="M11.1333 3.03447C12.3611 2.93565 13.6079 3.04911 14.7922 3.37766C17.0016 3.97847 18.9733 5.34197 20.2706 7.15876C20.9235 8.06672 21.4059 9.0859 21.693 10.1538C22.1777 11.9689 22.089 13.9239 21.4229 15.6866C20.7847 17.4046 19.6074 18.9297 18.0943 20.0322C17.2653 20.6381 16.3379 21.1206 15.3544 21.452C13.1983 22.1846 10.7837 22.1826 8.62882 21.4464C6.46075 20.7138 4.57217 19.2399 3.39669 17.3446C2.44198 15.8277 1.95229 14.0464 2.00367 12.2755C2.03332 10.8056 2.43699 9.34407 3.16359 8.04955C4.027 6.49488 5.35749 5.18685 6.94428 4.30253C8.21957 3.58826 9.6628 3.15778 11.1333 3.03447ZM9.01458 5.54328C8.33319 5.57312 7.66618 5.84283 7.17092 6.29302C6.71675 6.70125 6.41173 7.25927 6.32042 7.84994C6.22824 8.39134 6.32688 8.95667 6.57789 9.44796C6.87382 10.0192 7.38435 10.4854 7.99557 10.7383C8.59917 10.9905 9.29495 11.0415 9.92761 10.8619C10.8304 10.6254 11.589 9.93165 11.864 9.07211C12.056 8.50565 12.0396 7.87753 11.8226 7.32008C11.5951 6.72603 11.141 6.21644 10.5673 5.90449C10.0988 5.64801 9.5533 5.52075 9.01458 5.54328ZM16.0023 6.86849C15.3262 6.93972 14.6756 7.24547 14.2153 7.72775C13.7884 8.15879 13.5233 8.73313 13.4699 9.32493C13.373 10.2292 13.8061 11.1583 14.5585 11.707C15.0282 12.0547 15.6113 12.253 16.2031 12.2791C16.6831 12.2929 17.1696 12.1972 17.5985 11.9869C18.0262 11.7828 18.3973 11.472 18.67 11.0961C19.0135 10.6211 19.19 10.0372 19.1679 9.46007C19.1424 8.91444 18.9434 8.37867 18.6002 7.94285C18.0101 7.17987 16.9846 6.76066 16.0023 6.86849ZM11.7451 11.3782C11.1671 11.4559 10.683 11.9635 10.6821 12.5275C10.6592 12.9168 10.8612 13.3054 11.1879 13.534C11.4202 13.6992 11.7123 13.78 12.0006 13.773C12.305 13.7547 12.6065 13.6404 12.8258 13.4335C13.147 13.1446 13.2914 12.6831 13.1749 12.2741C13.1182 12.0584 12.9987 11.858 12.829 11.7054C12.5495 11.4399 12.1327 11.3151 11.7451 11.3782ZM7.31506 12.7448C6.43022 12.8504 5.6129 13.3802 5.18399 14.1305C4.95647 14.5171 4.84226 14.9586 4.82729 15.4006C4.82788 15.8834 4.955 16.3677 5.21129 16.7846C5.51309 17.2897 5.99162 17.694 6.54971 17.9226C7.03382 18.1189 7.57371 18.1954 8.09451 18.12C9.02691 17.9989 9.87447 17.4051 10.2726 16.587C10.5374 16.0492 10.6134 15.4265 10.4737 14.8462C10.3689 14.3901 10.1343 13.9627 9.80665 13.6179C9.19043 12.9613 8.2275 12.624 7.31506 12.7448ZM14.5353 14.0497C13.8257 14.1275 13.1473 14.4636 12.6849 14.9876C12.2771 15.4338 12.0364 16.0169 12.0061 16.6089C11.9756 17.1346 12.1139 17.667 12.3948 18.1191C12.6511 18.5361 13.0275 18.883 13.4693 19.1166C13.8974 19.3467 14.3882 19.4562 14.877 19.4638C15.3197 19.4505 15.7622 19.3557 16.157 19.16C16.6781 18.9089 17.1164 18.5006 17.3859 18.0043C17.6267 17.5707 17.7371 17.0724 17.7083 16.5825C17.6713 16.0281 17.4546 15.4848 17.0877 15.054C16.4879 14.3319 15.4909 13.9397 14.5353 14.0497Z" fill="#046E7D"/>
                        </svg>
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                         <path d="M10.0718 0.605957C4.84401 0.605957 0.605469 4.8445 0.605469 10.0723C0.605469 11.8482 1.1043 13.5039 1.95516 14.9241L0.69021 19.5386L5.40334 18.3014C6.78173 19.085 8.37296 19.5386 10.0718 19.5386C15.2996 19.5386 19.5381 15.3 19.5381 10.0723C19.5381 4.8445 15.2996 0.605957 10.0718 0.605957ZM6.8316 5.65651C6.98543 5.65651 7.14349 5.65557 7.27996 5.66267C7.44878 5.66661 7.63252 5.67898 7.80843 6.06788C8.01748 6.53016 8.47266 7.68984 8.53104 7.80738C8.58942 7.92492 8.63078 8.06339 8.54953 8.21722C8.47222 8.37499 8.43201 8.47048 8.31842 8.61011C8.20088 8.74579 8.07208 8.91431 7.96559 9.01686C7.84805 9.1344 7.72668 9.26328 7.86236 9.49757C7.99804 9.73186 8.46926 10.4999 9.16582 11.12C10.0612 11.9199 10.8166 12.1657 11.0517 12.2832C11.2868 12.4008 11.4229 12.3825 11.5586 12.2247C11.6982 12.0709 12.145 11.543 12.3028 11.3079C12.4566 11.0729 12.6136 11.1135 12.8266 11.1908C13.0428 11.2682 14.1955 11.836 14.4305 11.9535C14.6656 12.0711 14.8197 12.1292 14.8789 12.2247C14.9396 12.3233 14.9397 12.7927 14.7448 13.3402C14.55 13.8869 13.5932 14.4155 13.164 14.4526C12.731 14.4928 12.3268 14.6473 10.3491 13.8687C7.9636 12.9291 6.45919 10.4858 6.34165 10.328C6.22411 10.1742 5.38639 9.05772 5.38639 7.90599C5.38639 6.75031 5.99232 6.18433 6.20452 5.94925C6.42067 5.71417 6.67383 5.65651 6.8316 5.65651Z" fill="#038193"/>
                        </svg>
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15" viewBox="0 0 22 15" fill="none">
                         <path d="M21.5043 2.23869C21.3839 1.8092 21.1494 1.42037 20.8257 1.11352C20.4928 0.797229 20.0848 0.570982 19.6402 0.45613C17.9764 0.0175769 11.3104 0.017577 11.3104 0.017577C8.53142 -0.0140408 5.75313 0.125022 2.99119 0.43398C2.54661 0.557318 2.13939 0.788621 1.80577 1.10731C1.47797 1.42272 1.24053 1.81166 1.11649 2.23781C0.818535 3.84295 0.673768 5.47277 0.684141 7.1053C0.673509 8.73636 0.817921 10.3656 1.11649 11.9728C1.23787 12.3972 1.47442 12.7843 1.80311 13.0971C2.13181 13.4098 2.54112 13.6357 2.99119 13.7554C4.67718 14.193 11.3104 14.193 11.3104 14.193C14.0929 14.2247 16.8748 14.0856 19.6402 13.7766C20.0848 13.6618 20.4928 13.4355 20.8257 13.1192C21.1535 12.8065 21.3865 12.4175 21.5034 11.9941C21.8092 10.3895 21.9578 8.75903 21.9473 7.12567C21.9703 5.4854 21.8218 3.84722 21.5043 2.23781V2.23869ZM9.19118 10.1388V4.07264L14.7373 7.10618L9.19118 10.1388Z" fill="#038193"/>
                        </svg>
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                         <path d="M6.10428 0.827637C3.13164 0.827637 0.712891 3.24781 0.712891 6.22119V13.9244C0.712891 16.8974 3.13306 19.3165 6.10645 19.3165H13.8097C16.7827 19.3165 19.2018 16.8964 19.2018 13.923V6.21903C19.2018 3.24638 16.7816 0.827637 13.8082 0.827637H6.10428ZM15.504 3.78586C15.9122 3.78586 16.2436 4.11718 16.2436 4.52541C16.2436 4.93365 15.9122 5.26497 15.504 5.26497C15.0958 5.26497 14.7644 4.93365 14.7644 4.52541C14.7644 4.11718 15.0958 3.78586 15.504 3.78586ZM9.95734 5.26497C12.6086 5.26497 14.7644 7.42078 14.7644 10.0721C14.7644 12.7234 12.6083 14.8792 9.95734 14.8792C7.30603 14.8792 5.15022 12.723 5.15022 10.0721C5.15022 7.42115 7.30603 5.26497 9.95734 5.26497ZM9.95734 6.74408C8.11917 6.74408 6.62934 8.23392 6.62934 10.0721C6.62934 11.9102 8.11917 13.4001 9.95734 13.4001C11.7955 13.4001 13.2853 11.9102 13.2853 10.0721C13.2853 8.23392 11.7955 6.74408 9.95734 6.74408Z" fill="#038193"/>
                        </svg>
                    </div>
                    <div class="w-10 aspect-square flex items-center justify-center bg-lightGray shadow-3xl rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                          <g filter="url(#filter0_i_1091_24392)">
                          <path d="M21.9421 10.9847C21.9421 17.0354 17.0363 21.9411 10.9857 21.9411C4.93502 21.9411 0.0292969 17.0354 0.0292969 10.9847C0.0292969 4.93404 4.93502 0.0283203 10.9857 0.0283203C17.0363 0.0283203 21.9421 4.93404 21.9421 10.9847Z" fill="#038193"/>
                          </g>
                          <path d="M4.16659 10.8295C7.99584 9.14495 12.9509 7.09117 13.6351 6.80685C15.4292 6.06292 15.9798 6.20535 15.7053 7.85319C15.5081 9.03757 14.9394 12.9583 14.4859 15.3988C14.2169 16.8462 13.6132 17.0177 12.6644 16.3915C12.208 16.0902 9.90445 14.5667 9.40429 14.209C8.94795 13.883 8.31851 13.4908 9.10792 12.7184C9.38895 12.4434 11.2302 10.6849 12.6649 9.31641C12.8528 9.13673 12.6167 8.84145 12.3998 8.98553C10.466 10.268 7.78493 12.0478 7.44364 12.2796C6.92814 12.6296 6.43292 12.7901 5.54435 12.5349C4.87273 12.342 4.21699 12.1119 3.9617 12.0243C2.97837 11.6868 3.21174 11.2497 4.16659 10.8295Z" fill="#EBE9E9"/>
                          <defs>
                          <filter id="filter0_i_1091_24392" x="0.0292969" y="0.0283203" width="21.9121" height="25.9127" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dy="4"/>
                          <feGaussianBlur stdDeviation="7.5"/>
                          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
                          <feBlend mode="normal" in2="shape" result="effect1_innerShadow_1091_24392"/>
                          </filter>
                          </defs>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t-2 p-5" style="border-color: #5daeba">
            <p class="text-sm">تمامی حقوق متعلق به زیلوت می باشد.</p>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>