<div class="text-center mb-2 lg:mb-10 flex flex-col items-center">
    <p class="text-xl lg:text-2xl text-white p-5 lg:p-10 bg-lightGreen w-full">
        قدم به دنیای زیلوت بگذارید
    </p>
    <div class="w-6 lg:w-10 aspect-square bg-lightGreen inline-block rotate-45 -translate-y-2/4"></div>
</div>

<section class="px-6 lg:px-12 mb-10">
    <div class="flex items-stretch flex-wrap">
        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media2.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media3.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media4.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media5.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media6.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media7.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media8.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/media9.jpg" alt="media" class="object-cover w-full min-h-full" />
            </div>
        </div>

        <div class="px-2 lg:px-8 py-2 lg:py-6 w-1/2 md:w-1/3">
            <div class="overflow-hidden relative" style="aspect-ratio: 2 / 1.2">
                <img src="~/images/about/more.jpg" alt="media" class="object-cover w-full min-h-full" />
                <div class="absolute w-full h-full z-10 left-0 top-0 p-4"
                    style="background-color: rgba(173, 173, 173, 0.7)">
                    <p
                        class="text-xl text-white text-shadow-4xl outline-2 w-full h-full outline-gray-600 flex items-center justify-center">
                        بیشتر...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="px-10 lg:px-20 mb-10 text-lg">
    <h2 class="text-2xl lg:text-3xl text-lightGreen mb-6">معرفی شرکت زیلوت</h2>
    <p class="leading-loose text-justify">
        زیلوت یک برند جوان و نوآور در صنعت موکت است که با رویکردی متفاوت وارد بازار شده است. ما از همان ابتدا تصمیم
        گرفتیم مرزهای سنتی این صنعت را کنار بزنیم و با تکیه بر دانش فنی، خلاقیت و فناوری روز دنیا تجربه‌ای متفاوت برای
        مشتریان رقم بزنیم.
    </p>
    <p class="leading-loose text-justify">
        ما معتقدیم موکت تنها یک کفپوش نیست؛ بلکه بخشی از شخصیت، زیبایی و هویت فضاست. به همین دلیل، محصولات زیلوت با
        بهره‌گیری از متریال باکیفیت، طراحی مدرن، دوام بالا، ضدباکتری بودن، ضد‌اشتعال و ضد‌الکتریسیته ساکن تولید می‌شوند
        تا هم نیازهای کاربردی و هم سلیقه‌ای مشتریان را برآورده سازند.

    </p>

</section>

<section class="p-10 lg:p-20 mb-10">
    <div class="bg-white shadow-xl p-8 lg:p-12 text-lg flex flex-col">
        <div>
            <h2 class="text-2xl lg:text-3xl text-lightGreen mb-6" id="aboutTitle">ارزش‌های برند زیلوت</h2>
            <p class="leading-loose text-justify" id="aboutDesc">
                تعهد ما در زیلوت، تولید موکت‌هایی باکیفیت، بادوام و سازگار با
                محیط‌زیست است. ما خود را موظف می‌دانیم که با استفاده از مواد اولیه
                مرغوب، فناوری‌های روز و فرآیندهای تولید استاندارد، محصولاتی ارائه
                دهیم که نه‌تنها نیاز مشتریان را برآورده کند، بلکه تجربه‌ای دلپذیر و
                طولانی‌مدت برای آن‌ها ایجاد نماید. رضایت مشتریان، نوآوری در طراحی و
                مسئولیت‌پذیری در قبال جامعه و طبیعت، اصولی هستند که زیلوت در تمام
                مراحل کار به آن‌ها پایبند است.
            </p>
        </div>

        <div
            class="flex gap-4 w-fit self-center md:self-end pt-10 md:pt-3 md:translate-y-1/4 lg:translate-y-2/5 text-nowrap flex-wrap">
            <div class="flex flex-col p-4 bg-neutral-400 items-center gap-3 -skew-x-10 flex-1"
                onclick="aboutHandler(0)">
                <div class="h-4/5 flex items-center justify-center skew-x-10 pointer-events-none">
                    <img src="~/images/icons/head.svg" alt="icon" class="w-14 pointer-events-none" />
                </div>
                <p class="text-lg text-white skew-x-10 pointer-events-none">
                    چشم‌انداز ما
                </p>
            </div>
            <div class="flex flex-col p-4 bg-neutral-500 items-center gap-3 -skew-x-10 flex-1"
                onclick="aboutHandler(1)">
                <div class="h-4/5 flex items-center justify-center skew-x-10 pointer-events-none">
                    <img src="~/images/icons/hat.svg" alt="icon" class="w-14 pointer-events-none" />
                </div>
                <p class="text-lg text-white skew-x-10 pointer-events-none">
                    ماموریت ما
                </p>
            </div>
            <div class="flex flex-col p-4 bg-neutral-700 items-center gap-3 -skew-x-10 flex-1 currentAbout"
                onclick="aboutHandler(2)">
                <div class="h-4/5 flex items-center justify-center skew-x-10 pointer-events-none">
                    <img src="~/images/icons/taahod.svg" alt="icon" class="w-14 pointer-events-none" />
                </div>
                <p class="text-lg text-white skew-x-10 pointer-events-none">
                    ارزش‌های برند
                </p>
            </div>
        </div>
    </div>
</section>

<section class="px-1 md:px-6 lg:px-16 mb-20">
    <h2 class="text-2xl lg:text-3xl text-lightGreen mb-5 lg:mb-10 px-4">
        اخبار و مقالات
    </h2>
    <div class="flex items-stretch gap-y-12 w-full overflow-x-scroll weblogContainer">
        <div class="p-4 md:max-w-1/3 shrink-0 max-w-4/5">
            <div class="flex flex-col">
                <div class="flex-1">
                    <img src="~/images/blog1.png" alt="blog" class="w-full object-cover" />
                </div>
                <div class="flex-2 bg-whiteGreen">
                    <div class="p-5 flex flex-col">
                        <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                            مجله زیلوت
                        </p>
                        <p class="text-lightGreen leading-relaxed mb-2">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                            با استفاده از طراحان ها
                        </p>
                        <p class="text-sm leading-relaxed">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است.
                        </p>
                        <div class="flex items-center justify-between pt-3">
                            <div class="flex items-center gap-1">
                                <img src="~/images/edit.svg" alt="edit" />
                                <p class="text-xs opacity-50">۱۸ تیر ۱۴۰۴</p>
                            </div>
                            <a asp-controller="Home" asp-action="News"
                                class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                                <img src="~/images/moreArrow.png" alt="arrow" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4 md:max-w-1/3 shrink-0 max-w-4/5">
            <div class="flex flex-col">
                <div class="flex-1">
                    <img src="~/images/blog2.png" alt="blog" class="w-full object-cover" />
                </div>
                <div class="flex-2 bg-whiteGreen">
                    <div class="p-5 flex flex-col">
                        <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                            مجله زیلوت
                        </p>
                        <p class="text-lightGreen leading-relaxed mb-2">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                            با استفاده از طراحان ها
                        </p>
                        <p class="text-sm leading-relaxed">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است.
                        </p>
                        <div class="flex items-center justify-between pt-3">
                            <div class="flex items-center gap-1">
                                <img src="~/images/edit.svg" alt="edit" />
                                <p class="text-xs opacity-50">۶ بهمن ۱۴۰۲</p>
                            </div>
                            <a asp-controller="Home" asp-action="News"
                                class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                                <img src="~/images/moreArrow.png" alt="arrow" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4 md:max-w-1/3 shrink-0 max-w-4/5">
            <div class="flex flex-col">
                <div class="flex-1">
                    <img src="~/images/blog3.png" alt="blog" class="w-full object-cover" />
                </div>
                <div class="flex-2 bg-whiteGreen">
                    <div class="p-5 flex flex-col">
                        <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                            مجله زیلوت
                        </p>
                        <p class="text-lightGreen leading-relaxed mb-2">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                            با استفاده از طراحان ها
                        </p>
                        <p class="text-sm leading-relaxed">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است.
                        </p>
                        <div class="flex items-center justify-between pt-3">
                            <div class="flex items-center gap-1">
                                <img src="~/images/edit.svg" alt="edit" />
                                <p class="text-xs opacity-50">۱۱ خرداد ۱۴۰۰</p>
                            </div>
                            <a asp-controller="Home" asp-action="News"
                                class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                                <img src="~/images/moreArrow.png" alt="arrow" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>