<section class="px-5 md:px-10 lg:px-20 py-5 pb-20">
    <h2 class="text-2xl lg:text-3xl pt-5 pb-2 text-lightGreen text-center">"همراه شما در هر مرحله از انتخاب تا اجرا"
    </h2>

    <div class="flex w-full gap-5 md:gap-10 lg:gap-16 items-center flex-col md:flex-row my-20">
        <div class="flex-2 flex items-center justify-center">
            <img src="~/images/products/Cut-B.png" alt="image" class="min-w-full min-h-full object-cover">
        </div>

        <div class="flex-3">
            <h2 class="text-2xl lg:text-3xl text-lightGreen mb-3">
                حمل و نقل مطمئن و دقیق
            </h2>
            <p class="text-lg lg:text-xl leading-relaxed">
                در زیلوت، تجربه خرید شما تنها به انتخاب موکت ختم نمی‌شود. ما اطمینان می‌دهیم که محصول انتخابی‌تان با
                نهایت دقت و ایمنی، از انبار تا محل نصب منتقل شود. تمامی مراحل حمل و نقل زیر نظر تیم پشتیبانی زیلوت انجام
                می‌شود تا موکت بدون هیچ آسیب یا تغییر ظاهری به دست شما برسد.</p>
        </div>
    </div>

    <div class="flex w-full gap-5 md:gap-10 lg:gap-16 items-center flex-col md:flex-row my-20">
        <div class="flex-2 flex items-center justify-center">
            <img src="~/images/products/Cut-B.png" alt="image" class="min-w-full min-h-full object-cover">
        </div>

        <div class="flex-3">
            <h2 class="text-2xl lg:text-3xl text-lightGreen mb-3">
                نصب تخصصی توسط کارشناسان حرفه‌ای
            </h2>
            <p class="text-lg lg:text-xl leading-relaxed">
                نصب صحیح، نقشی کلیدی در زیبایی و ماندگاری موکت دارد. کارشناسان نصب زیلوت با بهره‌گیری از ابزارهای
                استاندارد و تجربه بالا، فرآیند نصب را به‌صورت تمیز، دقیق و در کوتاه‌ترین زمان انجام می‌دهند. هدف ما این
                است که نتیجه نهایی، نمایی بی‌نقص و هماهنگ با طراحی داخلی فضای شما باشد.</p>
        </div>
    </div>

    <div class="my-5">
        <h2 class="text-2xl lg:text-3xl pt-5 pb-2 text-lightGreen text-center">پشتیبانی کامل پس از نصب
        </h2>
        <p class="text-lg lg:text-xl leading-relaxed"> تعهد زیلوت پس از نصب نیز ادامه دارد. تیم خدمات پس از فروش ما آماده
            پاسخ‌گویی به سؤالات شما درباره نگهداری، تمیز کردن و مراقبت از موکت است. با همراهی زیلوت، از لحظه انتخاب تا
            پس از نصب، تجربه‌ای حرفه‌ای، مطمئن و بدون دغدغه خواهید داشت.</p>
    </div>
</section>





<section class="px-1 md:px-6 lg:px-16 mb-20">
    <h2 class="text-2xl lg:text-3xl text-lightGreen mb-5 lg:mb-10 px-4">
        اخبار و مقالات
    </h2>
    <div class="flex items-stretch gap-y-12 w-full overflow-x-scroll weblogContainer">
 @await Component.InvokeAsync("Blogs")
     </div>
</section> 