<section class="px-5 md:px-10 lg:px-20 py-5 pb-6">
    <h2 class="text-2xl lg:text-3xl pt-5 pb-5 text-lightGreen text-center">"جدول تعرفه خدمات نصب موکت"</h2>

    <p class="text-lg lg:text-xl leading-relaxed py-5">تیم نصب حرفه‌ای زیلوت با بهره‌گیری از ابزارهای تخصصی و
        استانداردهای
        روز، اجرای دقیق و تمیز موکت را تضمین می‌کند. هزینه خدمات نصب بر اساس نوع موکت، متراژ و شرایط محل نصب محاسبه
        می‌شود تا شفافیت و انصاف در قیمت‌گذاری حفظ شود. هدف ما ارائه تجربه‌ای بی‌دغدغه و متفاوت برای فضای شماست.</p>



    <table class="w-full text-center max-w-7xl mx-auto text-lg border-separate border-spacing-2 mt-10 mb-20 priceTable">
        <thead class="mb-5">
            <th class="md:w-1/2 bg-pastelGreen text-lightGreen text-lg md:text-xl py-4 px-2">نام موکت</th>
            <th class="md:w-1/2 bg-pastelGreen text-lightGreen texl-lg md:text-xl py-4 px-2">کمک هزینه نصب هر متر مربع
            </th>

        </thead>

        <tbody>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>

        </tbody>
    </table>


</section>

<section class="px-1 md:px-6 lg:px-16 mb-20">
    <h2 class="text-2xl lg:text-3xl text-lightGreen mb-5 lg:mb-10 px-4">
        اخبار و مقالات
    </h2>
    <div class="flex items-stretch gap-y-12 w-full overflow-x-scroll weblogContainer">
 @await Component.InvokeAsync("Blogs")
     </div>
</section> 