<section class="px-5 md:px-10 lg:px-20 py-5 pb-20">
    <h2 class="text-2xl lg:text-3xl pt-5 pb-5 text-lightGreen text-center">"جدول تعرفه خدمات نصب موکت"</h2>

    <p class="text-lg lg:text-xl leading-relaxed py-5">تیم نصب حرفه‌ای زیلوت با بهره‌گیری از ابزارهای تخصصی و
        استانداردهای
        روز، اجرای دقیق و تمیز موکت را تضمین می‌کند. هزینه خدمات نصب بر اساس نوع موکت، متراژ و شرایط محل نصب محاسبه
        می‌شود تا شفافیت و انصاف در قیمت‌گذاری حفظ شود. هدف ما ارائه تجربه‌ای بی‌دغدغه و متفاوت برای فضای شماست.</p>



    <table class="w-full text-center max-w-7xl mx-auto text-lg border-separate border-spacing-2 mt-10 mb-20 priceTable">
        <thead class="mb-5">
            <th class="md:w-1/2 bg-pastelGreen text-lightGreen text-lg md:text-xl py-4 px-2">نام موکت</th>
            <th class="md:w-1/2 bg-pastelGreen text-lightGreen texl-lg md:text-xl py-4 px-2">کمک هزینه نصب هر متر مربع
            </th>

        </thead>

        <tbody>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>
            <tr>
                <td class="py-3 px-2">نام موکت</td>
                <td class="py-3 px-2">55241152415214</td>
            </tr>

        </tbody>
    </table>



    <section class="px-1 md:px-6 lg:px-16 mb-20">
        <h2 class="text-2xl lg:text-3xl text-lightGreen mb-5 lg:mb-10 px-4">
            اخبار و مقالات
        </h2>
        <div class="flex items-stretch gap-y-12 w-full overflow-x-scroll weblogContainer">
            <div class="p-4 md:max-w-1/3 shrink-0 max-w-4/5">
                <div class="flex flex-col">
                    <div class="flex-1">
                        <img src="~/images/blog1.png" alt="blog" class="w-full object-cover" />
                    </div>
                    <div class="flex-2 bg-whiteGreen">
                        <div class="p-5 flex flex-col">
                            <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                                مجله زیلوت
                            </p>
                            <p class="text-lightGreen leading-relaxed mb-2">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان ها
                            </p>
                            <p class="text-sm leading-relaxed">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                                مجله در ستون و سطرآنچنان که لازم است.
                            </p>
                            <div class="flex items-center justify-between pt-3">
                                <div class="flex items-center gap-1">
                                    <img src="~/images/edit.svg" alt="edit" />
                                    <p class="text-xs opacity-50">۱۸ تیر ۱۴۰۴</p>
                                </div>
                                <a asp-controller="Home" asp-action="News"
                                    class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                                    <img src="~/images/moreArrow.png" alt="arrow" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-4 md:max-w-1/3 shrink-0 max-w-4/5">
                <div class="flex flex-col">
                    <div class="flex-1">
                        <img src="~/images/blog2.png" alt="blog" class="w-full object-cover" />
                    </div>
                    <div class="flex-2 bg-whiteGreen">
                        <div class="p-5 flex flex-col">
                            <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                                مجله زیلوت
                            </p>
                            <p class="text-lightGreen leading-relaxed mb-2">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان ها
                            </p>
                            <p class="text-sm leading-relaxed">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                                مجله در ستون و سطرآنچنان که لازم است.
                            </p>
                            <div class="flex items-center justify-between pt-3">
                                <div class="flex items-center gap-1">
                                    <img src="~/images/edit.svg" alt="edit" />
                                    <p class="text-xs opacity-50">۶ بهمن ۱۴۰۲</p>
                                </div>
                                <a asp-controller="Home" asp-action="News"
                                    class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                                    <img src="~/images/moreArrow.png" alt="arrow" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-4 md:max-w-1/3 shrink-0 max-w-4/5">
                <div class="flex flex-col">
                    <div class="flex-1">
                        <img src="~/images/blog3.png" alt="blog" class="w-full object-cover" />
                    </div>
                    <div class="flex-2 bg-whiteGreen">
                        <div class="p-5 flex flex-col">
                            <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                                مجله زیلوت
                            </p>
                            <p class="text-lightGreen leading-relaxed mb-2">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان ها
                            </p>
                            <p class="text-sm leading-relaxed">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                                مجله در ستون و سطرآنچنان که لازم است.
                            </p>
                            <div class="flex items-center justify-between pt-3">
                                <div class="flex items-center gap-1">
                                    <img src="~/images/edit.svg" alt="edit" />
                                    <p class="text-xs opacity-50">۱۱ خرداد ۱۴۰۰</p>
                                </div>
                                <a asp-controller="Home" asp-action="News"
                                    class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                                    <img src="~/images/moreArrow.png" alt="arrow" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>