@using Zelut.LandingPage.DTOs
@model ZelutProductDetail;

<section class="px-5 md:px-10 lg:px-20 py-5 pb-20 bg-lightGray">
    <div class="bg-white shadow-xl p-10 flex flex-col lg:flex-row gap-10 relative">
        <div class="absolute left-5 p-3 lg:p-0 left-10 cursor-pointer">
            <img src="~/images/icons/share.svg" alt="share" />
        </div>
        <div class="flex-3">
            <div class="overflow-hidden aspect-square">
                <img src="~/images/products/Cut-B.png"
                     alt="product"
                     class="min-w-full min-h-full object-cover" />
            </div>
            <div class="flex gap-4 pt-4">
                <div class="flex-1 aspect-square max-w-24 overflow-hidden cursor-pointer">
                    <img src="~/images/products/Cut-B.png"
                         alt="thumbnail"
                         class="min-w-full min-h-full object-cover" />
                </div>
                <div class="flex-1 aspect-square max-w-24 overflow-hidden cursor-pointer">
                    <img src="~/images/products/Cut-B.png"
                         alt="thumbnail"
                         class="min-w-full min-h-full object-cover" />
                </div>
                <div class="flex-1 aspect-square max-w-24 overflow-hidden cursor-pointer">
                    <img src="~/images/products/Cut-B.png"
                         alt="thumbnail"
                         class="min-w-full min-h-full object-cover" />
                </div>
                <div class="flex-1 aspect-square max-w-24 overflow-hidden cursor-pointer">
                    <img src="~/images/products/Cut-B.png"
                         alt="thumbnail"
                         class="min-w-full min-h-full object-cover" />
                </div>
                <div class="flex-1 aspect-square max-w-24 overflow-hidden cursor-pointer">
                    <img src="~/images/products/Cut-B.png"
                         alt="thumbnail"
                         class="min-w-full min-h-full object-cover" />
                </div>
            </div>
        </div>
        <div class="flex-4 w-full productDetail">
            <h2 class="text-3xl">کلاسیک 02 <span class="text-xl">(آتن)</span></h2>
            <p class="py-3">جدول مشخصات:</p>
            <table class="w-full mb-4">
                <tr>
                    <td class="py-1.5 pe-10">نوع بافت:</td>
                    <td class="text-end py-2 ps-10">لوپ</td>
                </tr>
                <tr>
                    <td class="py-1.5 pe-10">جنس نخ:</td>
                    <td class="text-end py-2 ps-10">پلی پروپیلن</td>
                </tr>
                <tr>
                    <td class="py-1.5 pe-10">جنس زیره:</td>
                    <td class="text-end py-2 ps-10">نمد</td>
                </tr>
                <tr>
                    <td class="py-1.5 pe-10">عرض موکت:</td>
                    <td class="text-end py-2 ps-10">۳ متر</td>
                </tr>
                <tr>
                    <td class="py-1.5 pe-10">ضخامت کل:</td>
                    <td class="text-end py-2 ps-10">۸ میلی‌متر</td>
                </tr>
            </table>
            <div class="flex gap-2 items-center pb-2">
                <div class="w-9 aspect-square">
                    <img src="~/images/icons/antiBacterial.svg"
                         alt="icon"
                         class="w-full" />
                </div>
                <p>ضد باکتری</p>
            </div>
            <div class="flex gap-2 items-center pb-2">
                <div class="w-9 aspect-square">
                    <img src="~/images/icons/antiFire.svg"
                         alt="icon"
                         class="w-full" />
                </div>
                <p>ضد اشتعال</p>
            </div>
            <div class="flex gap-2 items-center pb-2">
                <div class="w-9 aspect-square">
                    <img src="~/images/icons/antiElec.svg"
                         alt="icon"
                         class="w-full" />
                </div>
                <p>ضد الکتریسیته ساکن</p>
            </div>
            <p class="text-2xl py-3">۱۶ رنگ</p>
            <div class="flex py-2 px-1 mb-5 overflow-x-scroll gap-3 w-full">
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer currentColor"
                     style="background-color: #393939"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #d9d9d9"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #5e6575"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #b4a592"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #585453"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #81807e"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #938778"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #393939"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #d9d9d9"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #5e6575"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #b4a592"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #585453"
                     onclick="changeColorHandler()"></div>
                <div class="w-16 aspect-square bg-green rounded-sm shrink-0 cursor-pointer"
                     style="background-color: #81807e"
                     onclick="changeColorHandler()"></div>
            </div>
            <p class="w-full bg-lightGreen text-center text-white p-3 rounded-md shadow-lg text-lg cursor-pointer">
                سفارش محصول
            </p>
        </div>
    </div>
</section>