<section class="sidebarMenu-container menuClosed z-30">
    <aside class="sidebarMenu">
        <div class="sidebarMenu-top">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 256 256"
                 onclick="closeMenu()">
                <rect width="256" height="256" fill="none" />
                <line x1="200"
                      y1="56"
                      x2="56"
                      y2="200"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16" />
                <line x1="200"
                      y1="200"
                      x2="56"
                      y2="56"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16" />
            </svg>
            <img src="~/images/logo.png" alt="logo" />
        </div>
        <div class="sidebarMenu-links">
            <div class="sidebar-collection-submenu-links">
                <a href="/" class="currentPageNav">خانه</a>
                <a href="/products.html">محصولات</a>
                <a href="/AboutUs.html">درباره ما</a>
                <a href="/ContactUs.html">ارتباط با ما</a>
                <a href="/weblog.html">مجله زیلوت</a>
            </div>
        </div>

        <div class="sidebarMenu-bottom">
            <div class="sidebarMenu-bottom-media">
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none" />
                        <circle cx="128"
                                cy="128"
                                r="40"
                                fill="none"
                                stroke="currentColor"
                                stroke-miterlimit="10"
                                stroke-width="16" />
                        <rect x="32"
                              y="32"
                              width="192"
                              height="192"
                              rx="48"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                        <circle cx="180" cy="76" r="12" />
                    </svg>
                </a>
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none" />
                        <rect x="32"
                              y="32"
                              width="192"
                              height="192"
                              rx="8"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                        <line x1="120"
                              y1="112"
                              x2="120"
                              y2="176"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                        <line x1="88"
                              y1="112"
                              x2="88"
                              y2="176"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                        <path d="M120,140a28,28,0,0,1,56,0v36"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                        <circle cx="88" cy="84" r="12" />
                    </svg>
                </a>
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="white"
                         viewBox="0 0 24 24"
                         width="23"
                         height="23">
                        <path d="M12.001 1.594c-9.27-.003-13.913 11.203-7.36 17.758a10.403 10.403 0 0 0 17.76-7.355c0-5.744-4.655-10.401-10.4-10.403zM6.11 6.783c.501-2.598 3.893-3.294 5.376-1.103 1.483 2.19-.422 5.082-3.02 4.582A2.97 2.97 0 0 1 6.11 6.783zm4.322 8.988c-.504 2.597-3.897 3.288-5.377 1.096-1.48-2.192.427-5.08 3.025-4.579a2.97 2.97 0 0 1 2.352 3.483zm1.26-2.405c-1.152-.223-1.462-1.727-.491-2.387.97-.66 2.256.18 2.04 1.334a1.32 1.32 0 0 1-1.548 1.053zm6.198 3.838c-.501 2.598-3.893 3.293-5.376 1.103-1.484-2.191.421-5.082 3.02-4.583a2.97 2.97 0 0 1 2.356 3.48zm-1.967-5.502c-2.598-.501-3.293-3.896-1.102-5.38 2.19-1.483 5.081.422 4.582 3.02a2.97 2.97 0 0 1-3.48 2.36zM13.59 23.264l2.264.61a3.715 3.715 0 0 0 4.543-2.636l.64-2.402a11.383 11.383 0 0 1-7.448 4.428zm7.643-19.665L18.87 2.97a11.376 11.376 0 0 1 4.354 7.62l.65-2.459A3.715 3.715 0 0 0 21.231 3.6zM.672 13.809l-.541 2.04a3.715 3.715 0 0 0 2.636 4.543l2.107.562a11.38 11.38 0 0 1-4.203-7.145zM10.357.702 8.15.126a3.715 3.715 0 0 0-4.547 2.637l-.551 2.082A11.376 11.376 0 0 1 10.358.702z"></path>
                    </svg>
                </a>
                <a href="#" class="menu-media-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none" />
                        <path d="M80,134.87,170.26,214a8,8,0,0,0,13.09-4.21L224,33.22a1,1,0,0,0-1.34-1.15L20,111.38A6.23,6.23,0,0,0,21,123.3Z"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                        <line x1="80"
                              y1="134.87"
                              x2="223.41"
                              y2="32.09"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                        <path d="M124.37,173.78,93.76,205.54A8,8,0,0,1,80,200V134.87"
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="16" />
                    </svg>
                </a>
            </div>
        </div>
    </aside>
</section>

<section class="p-1 md:p-6 py-8 lg:p-16 grid gap-y-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog1.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۱۸ تیر ۱۴۰۴</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog2.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۶ بهمن ۱۴۰۲</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog3.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۱۱ خرداد ۱۴۰۰</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog1.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۱۸ تیر ۱۴۰۴</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog2.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۶ بهمن ۱۴۰۲</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog3.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۱۱ خرداد ۱۴۰۰</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog1.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۱۸ تیر ۱۴۰۴</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog2.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۶ بهمن ۱۴۰۲</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="~/images/blog3.png"
                     alt="blog"
                     class="w-full object-cover" />
            </div>
            <div class="flex-2 bg-whiteGreen">
                <div class="p-5 flex flex-col">
                    <p class="text-lightGreen w-fit bg-pastelGreen px-3 py-1 rounded-sm text-xs mb-3">
                        مجله زیلوت
                    </p>
                    <p class="text-lightGreen leading-relaxed mb-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان ها
                    </p>
                    <p class="text-sm leading-relaxed">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است.
                    </p>
                    <div class="flex items-center justify-between pt-3">
                        <div class="flex items-center gap-1">
                            <img src="~/images/edit.svg" alt="edit" />
                            <p class="text-xs opacity-50">۱۱ خرداد ۱۴۰۰</p>
                        </div>
                        <a asp-controller="Home" asp-action="News"
                           class="w-10 lg:w-14 p-3.5 lg:p-5 aspect-square rounded-md bg-lightGreen flex items-center justify-center">
                            <img src="~/images/moreArrow.png" alt="arrow" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>